src/main/java/org/livecodingturkey/designpatterns/abstractfactory @shenmali
src/main/java/org/livecodingturkey/designpatterns/adapter @malizkl
src/main/java/org/livecodingturkey/designpatterns/builder @lastirembender
src/main/java/org/livecodingturkey/designpatterns/dependencyinjection @GulayAdgzl
src/main/java/org/livecodingturkey/designpatterns/facade @duygu2
src/main/java/org/livecodingturkey/designpatterns/singleton @melisayildirimm
src/main/java/org/livecodingturkey/designpatterns/strategy @mertcantahanli
src/main/java/org/livecodingturkey/designpatterns/templatemethod @huseyinbabal
